.navbar .navbar-nav .nav-link{
	font-size: 16px;
  	font-family: 'NTR', sans-serif;
  	color:#d15344;
}


header{

	font-family: 'Quicksand', sans-serif;
   
}

header div.texto{
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 20px;
	color: white;
	font-family: 'Quicksand', sans-serif;
   
}

header img{
	margin-top: 40px;
}


.container{
	
	font-family: 'Quicksand', sans-serif;
   
}

.container h2{
	color:#00a3b6;
	font-style: bold;
	margin-top: 60px;
}

.container h3{
	color:#d15344;
	font-style: bold;
	margin-top: 40px;
}


footer {
	background-color: #00a3b6;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer .info{
	color: #fff;

}

footer .form-group{
	color:#fff;
}